<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.car.vehiData.mapper.VcardetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="vcardetailResultMap" type="org.springblade.car.vehiData.entity.Vcardetail">
        <result column="id" property="id"/>
        <result column="create_user" property="createUser"/>
        <result column="create_dept" property="createDept"/>
        <result column="update_user" property="updateUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="status" property="status"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="name" property="name"/>
        <result column="logo" property="logo"/>
        <result column="price" property="price"/>
        <result column="yeartype" property="yeartype"/>
        <result column="productionstate" property="productionstate"/>
        <result column="salestate" property="salestate"/>
        <result column="sizetype" property="sizetype"/>
    </resultMap>


    <select id="selectVcardetailPage" resultMap="vcardetailResultMap">
        select * from v_vcardetail where is_deleted = 0
    </select>

</mapper>
