<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.car.mapper.ModelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="modelResultMap" type="org.springblade.car.entity.Model">
        <id column="id" property="id"/>
        <result column="s_name" property="sName"/>
        <result column="s_pic" property="sPic"/>
        <result column="listorder" property="listorder"/>
        <result column="open" property="open"/>
        <result column="isrecom" property="isrecom"/>
    </resultMap>


    <select id="selectModelPage" resultMap="modelResultMap">
        select * from t_model t where t.is_deleted = 0
        <if test="model.id != null and model.id !=''">
            and t.id=#{model.id}
        </if>
        <if test="model.sName != null and model.sName !=''">
            and t.s_name like concat(concat('%', #{model.sName}), '%')
        </if>
    </select>

</mapper>
