<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.car.mapper.ShareRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="shareRecordResultMap" type="org.springblade.car.entity.ShareRecord">
        <id column="id" property="id"/>
        <result column="member_id" property="memberId"/>
        <result column="type" property="type"/>
        <result column="out_trade_no" property="outTradeNo"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_time" property="createTime"/>
        <result column="status" property="status"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>


    <select id="selectShareRecordPage" resultMap="shareRecordResultMap">
        select * from t_share_record where is_deleted = 0
    </select>
    <select id="sharerecordCount" resultType="java.lang.Integer" parameterType="java.lang.Long">
         select count(1) from t_share_record where is_deleted = 0
         and member_id=#{memberId}
         and create_time &gt; DATE_FORMAT(NOW(),'%Y-%m-%d')
    </select>

</mapper>
