<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.car.mapper.ShopAlliedMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="shopCollectResultMap" type="org.springblade.car.entity.ShopAllied">
        <id column="id" property="id"/>
        <result column="shop_id" property="shopId"/>
        <result column="apply_member_id" property="applyMemberId"/>
        <result column="allied_shop_id" property="alliedShopId"/>
        <result column="allied_status" property="alliedStatus"/>
        <result column="create_user" property="createUser"/>
        <result column="create_dept" property="createDept"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="status" property="status"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>

    <!--已结盟 -->
    <select id="hadAlliedShopPage" resultType="org.springblade.car.dto.ShopAlliedDTO" >
        SELECT c.id ,t.id AS shopId,t.shop_name AS shopName,t.`member_id` AS shopMemberId,
        (SELECT NAME FROM t_member m WHERE t.member_id=m.id) AS shopMember,
        c.apply_member_id AS applyMemberId,allied_shop_id AS alliedShopId,
        allied_status AS alliedStatus,
        t.shop_img AS shopImg,t.area_name AS areaName,t.shop_address AS shopAddress,
        (SELECT COUNT(1) FROM t_cars WHERE shop_id=t.id) AS shopCarNum
        FROM t_shop t ,`t_shop_allied` c WHERE t.is_deleted = 0 AND c.is_deleted = 0
        AND (t.id=c.shop_id OR t.id=c.allied_shop_id)
        <if test="shopAllied.id != null ">
            and c.id=#{shopAllied.id}
        </if>
        <if test="shopAllied.alliedStatus != null">
            and c.allied_status=#{shopAllied.alliedStatus}
        </if>
    </select>

    <!--申请结盟 -->
    <select id="applyAlliedShopPage" resultType="org.springblade.car.dto.ShopAlliedDTO" >
        SELECT c.id ,t.id AS shopId,t.shop_name AS shopName,t.`member_id` AS shopMemberId,
        (SELECT NAME FROM t_member m WHERE t.member_id=m.id) AS shopMember,
        c.apply_member_id AS applyMemberId,allied_shop_id AS alliedShopId,
        allied_status AS alliedStatus,
        t.shop_img AS shopImg,t.area_name AS areaName,t.shop_address AS shopAddress,
        (SELECT COUNT(1) FROM t_cars WHERE shop_id=t.id) AS shopCarNum
        FROM t_shop t ,`t_shop_allied` c WHERE t.is_deleted = 0 AND c.is_deleted = 0
        AND t.id=c.allied_shop_id
        <if test="shopAllied.alliedShopId != null ">
            and c.allied_shop_id=#{shopAllied.alliedShopId}
        </if>
        <if test="shopAllied.alliedStatus != null">
            and c.allied_status=#{shopAllied.alliedStatus}
        </if>
    </select>
    <!--查询门店 -->
    <select id="selectShopAlliedPage" resultType="org.springblade.car.dto.SelectShopAlliedDTO" >
        SELECT t.id,t.shop_name AS shopName,t.`member_id` AS shopMemberId,
        (SELECT NAME FROM t_member m WHERE t.member_id=m.id) AS shopMember,
        t.shop_img AS shopImg,t.area_name AS areaName,t.shop_address AS shopAddress,
        ( SELECT allied_status FROM t_shop_allied c WHERE (t.id=c.shop_id OR t.id=c.allied_shop_id))  AS alliedStatus,
        (SELECT COUNT(1) FROM t_cars WHERE shop_id=t.id) AS shopCarNum
        FROM t_shop t  WHERE t.is_deleted = 0
        <if test="shopAllied.shopName != null ">
            AND t.shop_name like concat(concat('%', #{shopAllied.shopName}), '%')
        </if>
    </select>
</mapper>
