<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.car.mapper.ShopMemberMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="shopMemberResultMap" type="org.springblade.car.entity.ShopMember">
        <id column="id" property="id"/>
        <result column="shop_id" property="shopId"/>
        <result column="staff_id" property="staffId"/>
        <result column="staff_role" property="staffRole"/>

        <result column="create_user" property="createUser"/>
        <result column="create_dept" property="createDept"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="status" property="status"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>

    <select id="selectShopMemberPage" resultType="org.springblade.car.dto.ShopMemberDTO">
        SELECT roletype,session_key,openid,nickname,sex,province,city,county,headimgurl,unionid,NAME,phone,last_login
        ,m.id AS id ,m.staff_id ,m.shop_id AS shopId,m.staff_role,
        (SELECT role_name FROM t_shop_member_role r WHERE r.id=m.staff_role AND r.is_deleted = 0) staffRoleName
        FROM t_member t,t_shop_member m WHERE t.is_deleted = 0 AND m.is_deleted=0
        AND t.id=m.staff_id
        <if test="member.shopId != null">
            and m.shop_id=#{member.shopId}
        </if>
        <if test="member.memberId != null ">
            and t.id=#{member.memberId}
        </if>

        <if test="member.name != null and member.name !=''">
            and t.name like concat(concat('%', #{member.name}), '%')
        </if>
        <if test="member.province != null and member.province !=''">
            and t.province=#{member.province}
        </if>
        <if test="member.city != null and member.city !=''">
            and t.city=#{member.city}
        </if>
        <if test="member.county != null and member.county !=''">
            and t.county=#{member.county}
        </if>
        <if test="member.phone != null and member.phone !=''">
            and t.phone=#{member.phone}
        </if>

    </select>

    <select id="queryShopMemberPage" resultType="org.springblade.car.dto.ShopMemberRep"  parameterType="java.util.HashMap" >
        SELECT t.*,
        (SELECT count(1) FROM `t_shop_member` m WHERE m.staff_id=t.id and m.shop_id =#{shopId} ) AS isStaff
        FROM t_member t  WHERE t.`is_deleted`=0
        and t.roletype in (2,3)
        <if test="phone != null">
            and t.phone=#{phone}
        </if>
    </select>
    <select id="selectShopMemberRoleRight" resultType="org.springblade.car.entity.ShopMemberRoleRight">
        select * from t_shop_member_role where is_deleted = 0 and id !=1
    </select>
    <select id="getShopMemberRight" resultType="org.springblade.car.dto.ShopMemberRoleRightDTO"
            parameterType="java.util.Map">
       SELECT s.*,t.staff_id AS memberId
            FROM t_shop_member t,t_shop_member_role s
            WHERE t.is_deleted=0 AND s.is_deleted=0
            AND t.staff_role=s.id
            AND t.staff_id=#{staff_id}
            and t.shop_id=#{shop_id}
    </select>
    <select id="selectMyJoinShopCount" resultType="java.lang.Integer"
            parameterType="org.springblade.car.entity.ShopMember">

        SELECT count(1) FROM `t_shop_member` m , `t_shop` t
        WHERE t.`is_deleted`=0 and m.`shop_id`=t.id
        and t.`member_id` != #{shopMember.staffId}
        and m.`staff_id`=#{shopMember.staffId}
    </select>

    <delete id="delByShopId" parameterType="java.lang.Long">
        delete from t_shop_member where shop_id=#{shopId}
    </delete>

</mapper>
